# ---- Django ----
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=please_change_me_dev
DJANGO_ALLOWED_HOSTS=*
DJANGO_TIME_ZONE=Asia/Bangkok
DJANGO_LANGUAGE_CODE=vi

# ---- Postgres (container name: unimis_db) ----
POSTGRES_DB=unimis
POSTGRES_USER=unimis
POSTGRES_PASSWORD=unimis
POSTGRES_HOST=unimis_db
POSTGRES_PORT=5432

# ---- App Server ----
DJANGO_HOST=0.0.0.0
DJANGO_PORT=8000
